<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<form action="test/submit" method="post">
    <input type="text" name="id">
    <button type="submit">Submit</button>
</form>
<!-- action="test/submit" from router router.post('/test/submit', function(req, res, next){//post add smth to database and the show it to user need redirection to show
    res.redirect('/test/...');
});
     <input type="text" name="id"> connected with route


-->
